.DS_Store

!logs/.gitkeep
/logs/*.log
/logs/*.json

npm-debug.log*
yarn-debug.log*
yarn-error.log*

node_modules/
build/
dist/
coverage/

.vscode/
.idea/

.env
.env.local
.env.*.local

public/*
!public/**/.gitkeep
!public/logo/*
!public/user_images/ic_profile.png

templates/*
!templates/.gitkeep
